
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Playfair+Display:wght@700&display=swap');
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: black;
  font-family: 'Playfair Display', serif!important;
}

.show {
  transform: translateX(0);
  transition: all 250ms ease-in;
}

.hide {
  transform: translateX(500px);
  /* opacity: 0; */
  /* display: none; */
  transition: all 250ms ease-in;
}

.CircularProgressbar-path {
  stroke:#29FFCA!important;
 

}
.CircularProgressbar-trail {
  stroke: #D9D9D9!important;
}
.CircularProgressbar-text {
  fill: whitesmoke!important;
}
.CircularProgressbar-background {
  fill: green;
}